<div id='chat-background' class='chat-background'>
    <div id="chat" class="chat">
        <div class="chat-title">
            <figure class="avatar">
                <img id='avatar-icon' src='' />
            </figure>
            <h1 id='receiverName'></h1>
            <button type="button" class="chat-close">x</button>
        </div>
        <div class="messages">
            <div class="messages-content"></div>
        </div>
        <div class="message-box">
            <textarea type="text" id="focus" class="message-input" placeholder="Type message..."></textarea>
            <button type="submit" class="message-submit">Send</button>
        </div>
    </div>
</div>

<button onclick="openChat()">Open Chat</button>